body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Arial, Helvetica, sans-serif;
}


/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #5f9341;
    margin: 4px;


}


button {
    background-color:#5f9341; 
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;

}